@import url('https://use.fontawesome.com/releases/v5.0.9/css/all.css');

html,body {
    height: 100%;
    padding: 0;
    margin: 0;
}

.content {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 80vh 20vh;
    grid-template-columns: 1fr;
    grid-template-areas: "canvas" "menu";
}

.title{
    color: rgb(100, 100,100);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

#tempo {
    position: absolute;
    right: 35px;
    top: 5px;
}